<%  include ../views/menubar%>


<link rel="stylesheet" href="../stylesheets/forgot.css">

    <div id="main">
        <div id="container">
            <h3>Find your Account</h3>
            <form action="/forgot" method="post">
                <h1>Please enter your email address to reset your password :-</h1>  
                <input name="email" type="email" placeholder="email">
                <div id="bottom">
                        <button id="btn1"><a href="/" style="text-decoration: none;">CANCEL</a></button>
                        <button id="btn2">SEND MAIL</button>
                </div>
            </form>
            
        </div>
    </div>
</body>
</html>