<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
  <link rel="stylesheet" href="../stylesheets/index.css">
</head>
<body>
  <div id="main">
    <div id="image">
      <img src="https://i.pinimg.com/564x/c5/78/5b/c5785bf73be50ffce57a30c5c4af6892.jpg">
    </div>
    <div id="logincard">
      <form action="/signup" method="post" id="sign">
        <h3>Don't have an account ? <a href="/signup" style="color: #4F94F1;">Sign up</a></h3>
      </form>

      <h1>Hello Again !</h1>
      <h3 style="font-family: gilroy light;">Welcome back you've been missed !!</h3>
      <form action="/login" method="post">
        <input type="text" name="username" placeholder="Enter username">
        <input type="password" name="password" placeholder="Password">
        <a href="/forgot" style="color: #5c5d60;">Forgot Password?</a>
        <input type="submit" name="Login" id="s">
        <h3 style="color: #5c5d60; margin-top: 20px;margin-bottom: 0px;">Or continue with</h3>
        <button style="background-color: #D8DCEA;
         border: 1px solid white;" >
         <a class="button google" href="/federated/google"><img src="https://img.icons8.com/color/48/null/google-logo.png" style="height: 25px; width: 25px;"></a></button>
      </form>
    
    </div>
  </div>
  
</body>
</html>