<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign up</title>
    <link rel="stylesheet" href="../stylesheets/signup.css">
</head>
<body>
    
<div id="main">
    <div id="image">
      <img src="https://i.pinimg.com/564x/c5/78/5b/c5785bf73be50ffce57a30c5c4af6892.jpg">
    </div>
    <div id="logincard">
        <h3 style="margin-top: 20px; margin-left: 70%;">Already registered ? <a href="/" style="color: #4F94F1; text-decoration: none;">Log in</a></h3>
        
      <h1>Hello Friend !</h1>
      <h3 style="font-family: gilroy light;">Create an account and lets get started !!</h3>
      <form action="/register" method="post">
        <input type="text" name="email" placeholder="Enter email">
        <input type="text" name="name" placeholder="Enter your full name">
        <input type="text" name="username" placeholder="Enter username">
        <input type="password" name="password" placeholder="Password">
        <input type="submit" name="Login" id="s">
        <h3 style="color: #5c5d60; margin-top: 0px;margin-bottom: 0px;">Or continue with</h3>
        <!-- <button style="background-color: #D8DCEA; border: 1px solid white;" ><img src="https://img.icons8.com/color/48/null/google-logo.png" style="height: 25px; width: 25px;"></button> -->
        <button style="background-color: #D8DCEA;
         border: 1px solid white;" >
         <a class="button google" href="/login/federated/google"><img src="https://img.icons8.com/color/48/null/google-logo.png" style="height: 25px; width: 25px;"></a></button>
        
      </form>
    </div>
</div>

  
</body>
</html>