<%  include ../views/menubar%>


<link href="https://fonts.googleapis.com/css?family=Nunito+Sans:400,400i,700,900&display=swap" rel="stylesheet">
<link href="https://cdn.jsdelivr.net/npm/remixicon@2.2.0/fonts/remixicon.css" rel="stylesheet">
<link rel="stylesheet" href="../stylesheets/success.css">

</head>
<body>
  

<div id="main">
  <div class="card">

    <div style="border-radius:200px; height:200px; width:200px; background: #F8FAF5; margin:0 auto;">
      <i class="checkmark">✓</i>
    </div>
      <h1>Success</h1> 
      <p>We received your Premium Subscription purchase request;<br/> we'll be in touch shortly!</p>
      <form action="/profile">
        <button>Back to profile page</button>
      </form>
      
  </div>
</div>

</body>
</html>