<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Not Found</title>
    <link rel="stylesheet" href="../stylesheets/usernotfound.css">
</head>


<body>
  <div class="landing-page">
    <div style="text-align:center;" class="icon__download">
      <img src="https://cdn3d.iconscout.com/3d/premium/thumb/404-3025721-2526919.png">
    </div>
    
    <h1> 404 Error.</h1>
    <h3>USER NOT FOUND !</h3>
    <p> We can't find the page you're looking for.</p>
    <form action="/" method="post">
    <button>Back to login</button>
    </form>
  </div>
</body>
</html>