@tailwind base;
@tailwind components;
@tailwind utilities;



#posts-column{
    height: 100%;
    padding: 5vh 5vw;
    display: flex;
    flex-wrap: wrap;
    gap: 5vw;
}


#postcmnt{
    display: flex;
}

#postcmnts>h2{
    color: black;
    font-size: 2.5vh;
}

#postcmnts #box{
    display: flex;
}


#postcmnts form input{
    border: none;
    border-radius: 10px;
    outline: none;
    padding: 1vh;
    background-color: transparent;
    color: white;
    font-family: gilroy;
}

#postcmnts form button{
    background-color: transparent;
    border: none;
    color: rgb(11, 115, 241);
    letter-spacing: .2vh;
    margin-bottom: 1.5vh;
}

#postcmnts form button:hover{
    cursor: pointer;
}